@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}
.hero{
    background-image: url('../images/cow.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
.hero h1{
    color:azure;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    padding-top: 60px;
    word-spacing: 40px;
    letter-spacing: 20px;
}
.article,{
    width: 80%;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;*/
    margin: 30px auto;
    background-color: rgb(24, 206, 206);
    padding: 25px;
    border-width: 10px;
    border-color: violet;
    border-style: groove;
}
.article h2, #cow-type h2{
    text-align: center;
    font-size: 36px;
    /*border-bottom: 2px;
    border-color: blueviolet;
    border-width: 2px;
    border-style:dotted;*/
    text-decoration: underline rgb(197, 72, 9);
    padding-bottom: 10px;
}

.article p{
    font-size: 25px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2em;
    font-weight:bold;
}

.cow-images{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.cow-images div{
    min-width: 300px;
}